@media (max-width: 768px) {
    p {
        padding: 0 50px;
    }
    .title{
        margin-bottom: 0px;
        font-size: 40px;
    }
    .productos {
        height: 100vh;
        padding: 50px 0;
    }
    .about {
        height: 100vh;
        padding: 50px 0;
    }
    footer {
        display: flex;
        flex-direction: column;
    }
    .navbar {
        display: none;
    }
}

* {
    margin: 0;
    font-size: 100%;
    vertical-align: baseline;
}
body {
    text-align: center;
    font-family: sans-serif;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #171717;
    width: 100%;
}

.navbar {
    display: flex;
    margin-right: 10px;
}

.logo {
    margin-left: 30px;
}

.logo a {
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a {
    display: block;
    padding: 20px 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a:hover {
    background: #05BFDB;
}

.header {
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(img/services.jpeg) no-repeat center;
    background-size: cover;
}

.title {
    margin-bottom: 40px;
    font-size: 60px;
    color: #fff;
}

p {
    font-size: 18px;
    color: #1B1919;
}
.padding {
    font-size: 18px;
    color: #fff;
}
.p2 {
    font-size: 18px;
    color: #fff;
    padding: 40px; 
}
.pf {
    font-size: 18px;
    color: #fff;
    padding: 40px; 
}
.btn {
    border: 2px solid #05BFDB;
    color: rgb(255, 255, 255);
    background: #05BFDB;
    text-decoration: none;
    border-radius: 30px;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.btn:hover {
    transform: translateY(10px);
    box-shadow: inset 0 0 20px #05BFDB, 0 0 20px #05BFDB;
    background: none;
}
.btn-primary {
    border: 2px solid #05BFDB;
}
.contenido {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-section {
    display: flex;
    justify-content: center;
    background-color: #171717;
}
  
.logo-section h1 {
    font-size: 3rem;
    color: #fff;
}
  
.logo-section h1:hover {
    color: #05BFDB;
}

/* EMPIEZA SECCION DE IMAGENES INICIO */
.f-image {
width: 90px;
height: 110px;
margin-left: 80px;
margin-top: 20px;
}

.f-image-1{
    background: url(./img/plumber_hose.png);
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.f-image-2{
    background: url(./img/pipe_press.png);
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.f-image-3{
    background: url(./img/hilo_electrico.png);
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.f-image-4{
    background: url(./img/Voltimetro.png);
    background-size: cover;
    cursor: pointer;
}

.f-image-5{
    background: url(./img/pintura_1.png);
    background-size: cover;
    cursor: pointer;
}

.f-image-6{
    background: url(./img/pintura_4.png);
    background-size: cover;
    cursor: pointer;
}

.f-image-7{
    background: url(./img/estucado_4.png);
    background-size: cover;
    cursor: pointer;
}

.f-image-8{
    background: url(./img/pisos_1.png);
    background-size: cover;
    cursor: pointer;
}

.f-image-9{
    background: url(./img/pisos_2.png);
    background-size: cover;
    cursor: pointer;
}
/* TEMRINA SECCION DE IMAGENES FINAL */

/* EMPIEZA SECCION DE PRODUCTOS */
.productos {
    align-items: center;
}

.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: centers;
}

.box-container .box {
    height: 200px;
    width: 275px;
    background: linear-gradient(rgba(0, 0, 0, .3),rgba(0, 0, 0, .3));
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
    margin: 20px;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    cursor: pointer;
}
.box-container .box:hover{
    transform: translateY(10px);
    box-shadow: inset 0 0 20px #05BFDB, 0 0 20px #05BFDB;
    background: none;
}
.box-container .box i {
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background: #05BFDB;
    font-size: 25px;
    margin: 10px 0;
}

.box-container .box h3 {
    font-size: 20px;
    color: #05BFDB;
}

.box-container .box p {
    padding: 0 15px;
    font-size: 16px;
}
/* TERMINA SECCION DE PRODUCTOS */

/* SECCIONES DE CONTENIDO */

/* FONTANERIA */
.fontaneria {
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(img/fontaneria.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}
/* ELECTRICIDAD */
.electricidad {
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(img/electricidad.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}
/* ACABADOS */
.acabados {
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(img/acabados.jpeg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}
.pintura {
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(img/pintura.jpeg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}
.estuco {
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(img/estuco.jpeg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}
.pisos {
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(img/pisos.jpeg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}
.about {
    /* background: #303030; */
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(img/nosotros.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    padding: 50px 0;
}

.box-container2{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    flex-wrap: wrap;
}

.box-container2 .box {
    width: 250px;
    padding-bottom: 20px;
    text-align: center;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
    background: #171717;
    margin: 20px 20px;
    color: white;
}

.box-container2 .box img {
    height: 70px;
    width: 70px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -50px;
    border: 6px solid #05BFDB;
}

.box-container2 .box h3 {
    font-size: 20px;
    color: #05BFDB;
    padding-top: 10px;
}

.box-container2 .box p {

    font-size: 18px;
    color: #fff;
    padding: 0;
}

.box-container2 .box .stars i {
    font-size: 15px;
    color: #05BFDB;
}

.contact {
    padding: 50px 0;
    background: #171717;
}


.pie-section{
    display: flex;

}


/* EFFECTS #2 */

.dropbtn {
    display: block;
    padding: 20px 40px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    border: none;
}
  

.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
}
  
.dropdown-content a {
    color: black;
    display: block;
}
  
.dropdown-content a:hover {
    margin-right: 1px;
    background-color: #f1f1f1
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  
.dropdown:hover .dropbtn {
    background-color: #05BFDB;
}

section{
    /* width: 100%;
    height: 55vh; */
    background: #282828;
    display: flex;
    align-items: center;
    
}
.pie-cuerpo {
    font-size: 18px;
    width: 90%;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
.pie-cuerpo .h3 {
    font-size: 18px;
    color: #05BFDB;
}
.pie-logo{
    font-family: 'Indie Flower', cursive;
    height: 11vh;
    background-color: #05BFDB;
    color: white;
    line-height: 1.7rem;
}
.pie-fin{
    width: 100%;
    height: 11vh;
    background: #1B1919;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;
    margin-top: -10px;
}
.pie-fin span{
    color: #05BFDB;
    font-weight: bold;
}
.span{
    cursor: pointer;
}
.h3{
    font-size: 17px;
    color: #05BFDB;;
}
ul h3{
    font-size: 17px;
    color: #fff;
    font-weight: 450;
}
ul li{
    list-style: none;
    line-height: 2.5rem;
    font-family: 'Indie Flower', cursive;
}
ul li a{
    text-decoration: none;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
ul li a .fab{
    font-size: 1.2rem;
    color: #05BFDB;;
    margin-right: 15px;
}
ul li a:hover{
    color: #05BFDB;
}
.More{
    margin-right: 1em;
    font-size: 2em;
    margin-left: 30px;
    margin-top: 30px;
}
.img{
    width: 350px;
}
.imagen-carrusel {
    width: 700px;
}

